<div class="row">
    <div class ="col-md-6 col-md-offset-3">
        <h4>Company details for {{ companyId }}</h4>
        <div ng-repeat="(key, value) in data.company" ng-switch on="key">
            <div ng-switch-when="employees">
            </div>
            <div ng-switch-default>
                <p>{{key}} : {{value}}</p>
            </div>
        </div>
        <p>Employees:</p>
        <div ng-repeat="emp in data.company.employees">
            <ul class="list-inline">
                <li ng-repeat="(key, value) in emp">
                    {{ value }}
                </li>
            </ul>
        </div>
        <small>Debugging info: HttpStatus: <mark>{{data.httpStatus}}</mark>, Message: <mark>{{data.message}}</mark></small>
    </div>
</div>